/* Hide Streamlit Menu */
#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

/* Main Background */
.stApp {
    background-color: #f5f7fb;
}

/* Sidebar */
section[data-testid="stSidebar"] {
    background-color: #1f2937;
}

section[data-testid="stSidebar"] * {
    color: white;
}

/* Metric Cards */
div[data-testid="metric-container"] {
    background: white;
    border-radius: 15px;
    padding: 18px;
    border-left: 6px solid #2563eb;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

/* Dashboard Title */
h1 {
    color: #1e3a8a;
}

/* Tables */
[data-testid="stDataFrame"] {
    border-radius: 10px;
}